* {
	font-size: 18px;
	font-family: Hack Nerd Font Mono;
}

window#waybar {
	background: rgba(0, 0, 0, 0);
	color: #fbf1c7;
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: rgba(0, 0, 0, 0);;
}

#workspaces button {
	padding: 0 2px;
	color: #fbf1c7;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button.active {
  color: #d65d0e;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
  color: #d79921;
}
#memory,
#cpu {
  color: #98971a;
}
#battery {
  color: #689d6a;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
