* {
	font-size: 18px;
	font-family: Hack Nerd Font;
}

window#waybar {
	background: #282828;
	color: #fbf1c7;
}

#workspaces,
#clock.time,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #282828;
  margin-bottom: 2px;
  margin-top: 2px;
}

#clock.date {
  color: #665C54; 
}

#workspaces button {
	padding: 0 2px;
	color: #ebdbb2;
}
#workspaces button.focused {
	color: #B8231D;
}
#workspaces button.active {
  color: #D79921;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
  color: #EBDBB2;
  background: rgba(0, 0, 0, 0);
}

#cpu {
  color: #665C54;
}
#memory {
  color: #665C54;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
