#window {
    font-size: 15px;
    font-family: "Hack Nerd Font";
    border: 10px solid #282828;
    background-color: #282828;
}

#entry{
    border-radius: 0px;
    max-width: 10px;
}

#entry:selected {
    background-color: #B8BB26;
    color: #282828;
    border-radius: 0;
}

#expander-box {
    background: transparent;
    color: #282828;
}

#text:selected {
    color: #fbf1c7;
}

#input{
    background-color: #665c54;
    border-radius: 0px;
    font-size: 20px;
    color: grey;
    padding: 5px;
    box-shadow: none; 
    border: none;
}

#input:focus{
    color: rgb(200,200,200);
}

#img{
    padding-right:10px;
}

#inner-box {
    width: 100px;
}

